*-env/*
bin/*
include/*
lib/*
lib64
share/*
pip-selfcheck.json
pyvenv.cfg
.Python
.DS_Store
*.pyc
.vscode/*
!launch.json
src/wget/*
src/wpull/*
!.sh

*.log
*.db
*.warc.gz
*.cdx
www*/
*.de

*.xlsx
!example.xlsx
!docker_example.xlsx
*.sqlite
*.conf
!default.conf
!docker_default.conf
